export(censored.mean)
export(composite.stack)
export(dquantile)
export(dummy.code)
export(elu.prime)
export(elu)
export(gam.style)
export(hramp.prime)
export(hramp)
export(huber.prime)
export(huber)
export(linear.prime)
export(linear)
export(pquantile)
export(qquantile)
export(qrnn.cost)
export(qrnn.fit)
export(qrnn2.fit)
export(qrnn.initialize)
export(qrnn.predict)
export(qrnn2.predict)
export(mcqrnn.fit)
export(mcqrnn.predict)
export(qrnn.rbf)
export(rquantile)
export(sigmoid.prime)
export(sigmoid)
export(softplus.prime)
export(softplus)
export(tilted.abs)
export(tilted.approx.prime)
export(tilted.approx)
importFrom(stats, nlm)
importFrom(stats, approx)
importFrom(stats, integrate)
importFrom(stats, median)
importFrom(stats, runif)
importFrom(stats, uniroot)
importFrom(stats, sd)
importFrom(graphics, abline)
importFrom(graphics, segments)
importFrom(grDevices, dev.new)
